.ligne-attribut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  width: 70%;
  background-color: grey;
}

.ligne-proposition {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  width: 70%;
  background-color: bisque;
}

.case-attribut {
  padding: 1Opx;
  min-height: 60px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: aqua;
  font-weight: bold;
  font-size: 14px;

  flex-grow: 1;
  flex-basis: 0;
  max-width: 150px;
}

.case-character img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}